body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: white;
  }

  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.home-page {
    text-align: center;
  }
  
  
